<aside class="projects-sidebar" aria-label="Lista de projetos">
    <h3 class="projects-heading">projetos</h3>
    {% for group in site.data.projects %}
        <section class="project-group">
            <h3>{{ group.category }}</h3>
            <ul class="project-list">
                {% for item in group.items %}
                    <li class="project-item">
                        <a href="{{ item.url }}">{{ item.name }}</a>
                        <p class="project-type">{{ item.type }}</p>
                        <p class="project-description">{{ item.description }}</p>
                    </li>
                {% endfor %}
            </ul>
        </section>
    {% endfor %}
</aside>
